APP_ENV=development
APP_NAME=AIMS
APP_TIMEZONE=Asia/Kolkata

DATABASE_URL=postgres://postgres:root@123@127.0.0.1:5432/AIMS?search_path=AIMS

RUST_LOG=info,aims=debug

API_HOST=127.0.0.1
API_PORT=8080

WEB_ORIGIN=http://localhost:3000

SESSION_SECRET=change_me
SESSION_TTL_HOURS=8
SESSION_COOKIE_NAME=aims_session
SESSION_COOKIE_SECURE=false
